@tailwind base;
@tailwind components;
@tailwind utilities;


.MuiInputBase-input {
    padding-left: 1rem !important;
    height: 40px !important;
    justify-content: center !important;
    flex-direction: column !important;
    display: flex !important;
}

.MuiInputBase-root {
    line-height: 2.5em !important;
}

body {
    overflow-x: hidden !important;
}