.col { 
    box-sizing: border-box; 
    flex: 0 0 auto; 
    padding-left: 1rem; 
    padding-right: 1rem; 
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: auto;
} 
.row {
    padding: 0px !important;
}
.links-popup {
    z-index: 9999;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #999 !important;
}
.linksmaster {
    width: 100% !important;
}
.link-body {
    margin-top: 3rem !important;
}
@media screen and (max-width:768px) {
    .link-body {
        padding-right: 6rem;
        padding-left:6rem;
    }
}
@media screen and (max-width:440px) {
    .link-body {
        padding-right: 4rem;
        padding-left:4rem;
    }
}

body {
    /* height:100vh !important; */
    font-family: 'Roboto', sans-serif;
}

.linksmaster {
    position: absolute !important;
    z-index: 999999 !important;
    top: 0;
    z-index:1;
    margin-bottom: 3rem;
}
#tsparticles {
    background: linear-gradient(0deg, rgba(127,174,166,1) 25%, rgba(1,51,64,1) 70%);
}
.tsparticles-canvas-el {
    background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg") !important;
}
.col-sm-12 { 
    flex-basis: 100%; 
    max-width: 100%;
} 

.link-view .link-wrap .link-main { 
    z-index: 10;
} 

.row { 
    box-sizing: border-box; 
    display: flex; 
    flex: 0 1 auto; 
    flex-direction: row; 
    flex-wrap: wrap; 
    height: auto; 
    position: relative; 
    flex-grow: 0; 
    flex-shrink: 1; 
    flex-basis: auto;
} 

.row { 
    margin-left: 0px; 
    margin-right: 0px;
} 

.link-view .link-wrap { 
    height: auto; 
    padding: 40px 1rem; 
    transform: translateZ(0px); 
    z-index: 2; 
    padding-top: 40px; 
    padding-right: 1rem; 
    padding-bottom: 40px; 
    padding-left: 1rem;
} 

.row.center { 
    justify-content: center; 
    text-align: center;
} 

.row.middle { 
    align-items: center;
} 

.link-view.music-view .link-wrap { 
    padding: 1rem 0; 
    padding-top: 1rem; 
    padding-right: 0px; 
    padding-bottom: 1rem; 
    padding-left: 0px;
} 

.link-view { 
    background: #1b1b1b; 
    height: auto; 
    position: relative; 
    width: 100%; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(27, 27, 27);
} 

span { 
    backface-visibility: hidden;
} 

body { 
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !important; 
    font-size: 12px !important; 
    line-height: 1.25 !important;
} 

body { 
    font-feature-settings: "tnum"; 
    background-color: rgb(255, 255, 255); 
    color: rgba(0, 0, 0, 0.85); 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
    font-size: 14px; 
    font-variant: tabular-nums; 
    line-height: 1.5715; 
    font-variant-ligatures: normal; 
    font-variant-numeric: tabular-nums; 
    font-variant-east-asian: normal; 
    font-variant-caps: normal;
} 

body { 
    backface-visibility: hidden; 
    overscroll-behavior-x: none;
} 

body { 
    font-feature-settings: normal; 
    background-color: var(--base); 
    color: var(--text-color); 
    font-family: var(--sans-serif); 
    font-size: var(--font-size-default); 
    font-variant-numeric: normal; 
    height: 100%; 
    line-height: 1.25; 
    margin: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

html { 
    font-size: 10px;
} 

html { 
    height: 100%; 
    width: 100%;
} 

html { 
    font-family: sans-serif; 
    line-height: 1.15; 
    text-size-adjust: 100%;
} 

html { 
    font-size: var(--font-size-default);
} 

html { 
    backface-visibility: hidden; 
    overscroll-behavior-x: none;
} 

.row.top { 
    align-items: flex-start;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

:selection { 
    background: #1890ff; 
    color: rgb(255, 255, 255); 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(24, 144, 255);
} 

:selection { 
    background: var(--select-color); 
    color: var(--text-color);
} 

@media only screen and (min-width: 768px){ 
  .col-med-6 { 
    flex-basis: 50%; 
    max-width: 50%;
  } 
}     

@media only screen and (min-width: 1224px){ 
  .col-lg-3 { 
    flex-basis: 25%; 
    max-width: 25%;
  } 
}     

@media screen and (min-width: 1024px){ 
  .col-lg-3  { 
    flex-basis: 40%;
    max-width: 40%;
  } 
}     

@media screen and (min-width: 1280px){ 
  .col-lg-3  { 
    flex-basis: 35%;
    max-width: 35%;
  } 
}     

.link-container  { 
    box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px, rgba(0, 0, 0, 0.21) 0px 3px 6px; 
    padding: 0; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.link-cover-wrap  { 
    display: block;
} 

.link-options  { 
    background: #1e1e1e; 
    text-align: left; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(30, 30, 30);
} 

@media only screen and (min-width: 1224px){ 
  .col-lg-12 { 
    flex-basis: 100%; 
    max-width: 100%;
  } 
}     

.link-cover-wrap .link-cover  { 
    background: #121212; 
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 0; 
    position: relative; 
    transform: translateZ(0px); 
    background-image: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(18, 18, 18); 
    background-position-x: center; 
    background-position-y: top; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.link-header  { 
    background: #1b1b1b; 
    color: rgb(255, 255, 255); 
    padding: 1rem 0 0; 
    text-align: center; 
    white-space: pre-wrap; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(27, 27, 27); 
    padding-top: 1rem; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.link-options .link-options-header  { 
    background: #1b1b1b; 
    border-bottom: 1px solid #434343; 
    color: rgb(255, 255, 255); 
    font-size: 14px; 
    line-height: 20px; 
    padding: 10px; 
    position: relative; 
    text-align: center; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(27, 27, 27); 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(67, 67, 67); 
    padding-top: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px;
} 

a { 
    background-color: transparent; 
    color: rgb(24, 144, 255); 
    outline: none; 
    transition: color .3s; 
    outline-color: initial; 
    outline-style: none; 
    outline-width: initial; 
    transition-duration: 0.3s; 
    transition-timing-function: ease; 
    transition-delay: 0s; 
    transition-property: color;
} 

a { 
    touch-action: manipulation;
} 

a { 
    color: var(--link-color); 
    cursor: pointer; 
    text-decoration: none; 
    transition: all .2s ease-in-out; 
    user-select: none; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-in-out; 
    transition-delay: 0s; 
    transition-property: all;
} 

.link-options .link-option-row  { 
    border-bottom: 1px solid #434343; 
    color: rgb(40, 40, 40); 
    cursor: pointer; 
    display: block; 
    padding: 2rem 1rem; 
    text-decoration: none; 
    transition: all .2s ease-in-out; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(67, 67, 67); 
    padding-top: 2rem; 
    padding-right: 1rem; 
    padding-bottom: 2rem; 
    padding-left: 1rem; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-in-out; 
    transition-delay: 0s; 
    transition-property: all;
} 

a:hover { 
    color: rgb(64, 169, 255);
} 

a:active,a:hover { 
    outline: 0; 
    text-decoration: none; 
    outline-color: initial; 
    outline-style: initial; 
    outline-width: 0px; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

a:hover { 
    color: var(--text-color);
} 

.link-option-row:hover  { 
    background: #282828; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(40, 40, 40);
} 

.link-options .link-option-row:last-child  { 
    border-bottom: 0; 
    border-bottom-width: 0px; 
    border-bottom-style: initial; 
    border-bottom-color: initial;
} 

img { 
    border-style: none; 
    vertical-align: middle; 
    border-top-style: none; 
    border-right-style: none; 
    border-bottom-style: none; 
    border-left-style: none;
} 

img { 
    max-width: 100%;
} 

.link-sounds { 
    align-items: center; 
    bottom: 0px; 
    display: flex; 
    justify-content: center; 
    left: 0px; 
    padding-bottom: 1rem; 
    position: absolute; 
    right: 0px; 
    top: 0px; 
    width: 100%; 
} 

.col.full { 
    padding: 0; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.link-header .link-header-title  { 
    padding: 0 2rem; 
    padding-top: 0px; 
    padding-right: 2rem; 
    padding-bottom: 0px; 
    padding-left: 2rem;
} 

.link-options .link-options-header .link-options-triangle-back  { 
    border-color: #434343 transparent transparent; 
    border-style: solid; 
    border-width: 10px 10px 0; 
    height: 0px; 
    left: 0px; 
    margin: 0 auto; 
    position: absolute; 
    right: 0px; 
    top: 20px; 
    width: 0px; 
    z-index: 9; 
    border-top-color: rgb(67, 67, 67); 
    border-right-color: transparent; 
    border-bottom-color: transparent; 
    border-left-color: transparent; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-width: 10px; 
    border-right-width: 10px; 
    border-bottom-width: 0px; 
    border-left-width: 10px; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

.link-options .link-options-header .link-options-triangle  { 
    border-color: #1b1b1b transparent transparent; 
    border-style: solid; 
    border-width: 8px 8px 2px; 
    height: 0px; 
    left: 0px; 
    margin: 0 auto; 
    position: absolute; 
    right: 0px; 
    top: 20px; 
    width: 0px; 
    z-index: 10; 
    border-top-color: rgb(27, 27, 27); 
    border-right-color: transparent; 
    border-bottom-color: transparent; 
    border-left-color: transparent; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-width: 8px; 
    border-right-width: 8px; 
    border-bottom-width: 2px; 
    border-left-width: 8px; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

a:hover { 
    outline: 0; 
    text-decoration: none; 
    outline-color: initial; 
    outline-style: initial; 
    outline-width: 0px; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

h1 { 
    color: rgba(0, 0, 0, 0.85); 
    font-weight: 500; 
    margin-bottom: 0.5em; 
    margin-top: 0px;
} 

h1 { 
    font-weight: 600;
} 

h1 { 
    font-family: var(--sans-serif);
} 

.link-header .link-header-title h1  { 
    color: rgb(255, 255, 255); 
    font-size: 21px; 
    font-weight: 600; 
    margin: 1rem 0 .5rem; 
    margin-top: 1rem; 
    margin-right: 0px; 
    margin-bottom: 0.5rem; 
    margin-left: 0px;
} 

h2 { 
    color: rgba(0, 0, 0, 0.85); 
    font-weight: 500; 
    margin-bottom: 0.5em; 
    margin-top: 0px;
} 

h2 { 
    font-weight: 600;
} 

h2 { 
    font-family: var(--sans-serif);
} 

.link-header .link-header-title h2  { 
    color: rgb(204, 204, 204); 
    font-size: 16px; 
    font-weight: 400; 
    margin: 0; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

@media only screen and (min-width: 768px){ 
  .col-med-7 { 
    flex-basis: 58.333%; 
    max-width: 58.333%;
  } 
}     

@media only screen and (min-width: 1224px){ 
  .col-lg-7 { 
    flex-basis: 58.333%; 
    max-width: 58.333%;
  } 
}     

.col-sm-7 { 
    flex-basis: 58.333%; 
    max-width: 58.333%;
} 

.link-options .link-option-row .link-option-row-title  { 
    color: rgb(255, 255, 255); 
    text-align: left;
} 

@media only screen and (min-width: 768px){ 
  .col-med-5 { 
    flex-basis: 41.667%; 
    max-width: 41.667%;
  } 
}     

@media only screen and (min-width: 1224px){ 
  .col-lg-5 { 
    flex-basis: 41.667%; 
    max-width: 41.667%;
  } 
}     

.col-sm-5 { 
    flex-basis: 41.667%; 
    max-width: 41.667%;
} 

.link-options .link-option-row .link-option-row-action  { 
    border-radius: 3px; 
    color: rgb(255, 255, 255); 
    font-size: 12px; 
    font-weight: 400; 
    letter-spacing: 1px; 
    padding: 1rem 2rem; 
    text-align: right; 
    text-transform: uppercase; 
    transition: all .2s ease-in-out; 
    width: 100%; 
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px; 
    border-bottom-left-radius: 3px; 
    padding-top: 1rem; 
    padding-right: 1.4rem; 
    padding-bottom: 1rem; 
    padding-left: 1.4rem; 
    transition-duration: 0.2s; 
    transition-timing-function: ease-in-out; 
    transition-delay: 0s; 
    transition-property: all;
} 

 a:hover { 
    color: rgb(64, 169, 255);
} 

.link-options .link-option-row:hover .link-option-row-action  { 
    color: rgb(0, 196, 255); 
    text-shadow: rgb(0, 196, 255) 0px 0px 15px;
} 

i { 
    margin-right: 5px;
} 

.icon { 
    speak: none; 
    display: inline-block; 
    font-family: toneden-interface; 
    font-stretch: normal; 
    font-style: normal; 
    font-variant-caps: normal; 
    font-variant-east-asian: normal; 
    font-variant-ligatures: normal; 
    font-variant-numeric: normal; 
    font-weight: 400; 
    text-transform: none;
} 

.link-options .link-option-row .link-option-row-action i  { 
    margin-right: 0.5rem;
} 

.nc-triangle-right-3:before { 
    content: "";
} 

.tdrow { 
    width: 100%; 
    margin: 0 auto; 
    max-width: 62.5em; 
    margin-top: 0px; 
    margin-right: auto; 
    margin-bottom: 0px; 
    margin-left: auto;
} 

.link-player .tdrow  { 
    box-sizing: border-box; 
    display: flex; 
    flex: 0 1 auto; 
    flex-direction: row; 
    flex-wrap: wrap; 
    margin-left: 0px; 
    margin-right: 0px; 
    flex-grow: 0; 
    flex-shrink: 1; 
    flex-basis: auto;
} 

.td.player { 
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    position: relative; 
    transition: all .5s; 
    min-width: 250px; 
    border: 1px solid; 
    box-sizing: border-box; 
    animation: fadeIn .5s; 
    transition-duration: 0.5s; 
    transition-timing-function: ease; 
    transition-delay: 0s; 
    transition-property: all; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    animation-duration: 0.5s; 
    animation-timing-function: ease; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-direction: normal; 
    animation-fill-mode: none; 
    animation-play-state: running; 
    animation-name: fadeIn;
} 

.link-player .td.player  { 
    border: 0; 
    font-family: Calibre, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif; 
    min-width: auto; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-top-style: initial; 
    border-right-style: initial; 
    border-bottom-style: initial; 
    border-left-style: initial; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial;
} 

.td.player.dark { 
    background: rgba(0,0,0,.85); 
    color: rgb(255, 255, 255); 
    border-color: #333; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgba(0, 0, 0, 0.85); 
    border-top-color: rgb(51, 51, 51); 
    border-right-color: rgb(51, 51, 51); 
    border-bottom-color: rgb(51, 51, 51); 
    border-left-color: rgb(51, 51, 51);
} 

.link-player .td.player.feed  { 
    background: none!important; 
    padding: 0; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    background-image: none !important; 
    background-position-x: initial !important; 
    background-position-y: initial !important; 
    background-size: initial !important; 
    background-repeat-x: initial !important; 
    background-repeat-y: initial !important; 
    background-attachment: initial !important; 
    background-origin: initial !important; 
    background-clip: initial !important; 
    background-color: initial !important;
} 

.link-player .td.player.dark  { 
    background: #1b1b1b; 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgb(27, 27, 27);
} 

.tdrow:after,.tdrow:before { 
    content: " "; 
    display: table;
} 

.tdrow:after { 
    clear: both;
} 

.link-options .link-option-row .link-option-row-img  { 
    max-height: 30px; 
    max-width: 100px;
} 

.tdcolumns { 
    width: 100%; 
    float: left;
} 

@media only screen{ 
  .tdsmall-12 { 
    width: 100%;
  } 
}     

@media only screen and (min-width: 64.063em){ 
  .tdlarge-12 { 
    width: 100%;
  } 
}     

.link-player .tdcolumns  { 
    box-sizing: border-box; 
    flex: 0 0 auto; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    flex-grow: 0; 
    flex-shrink: 0; 
    flex-basis: auto;
} 

@media only screen{ 
  .tdcolumns.tdsmall-centered { 
    margin-left: auto; 
    margin-right: auto; 
    float: none !important;
  } 
}     

@media only screen and (min-width: 64.063em){ 
  .tdcolumns.tdlarge-centered { 
    margin-left: auto; 
    margin-right: auto; 
    float: none !important;
  } 
}     

.td.player div  { 
    box-sizing: border-box; 
    line-height: normal;
} 

.td.player.dark div  { 
    border-color: #333!important; 
    border-top-color: rgb(51, 51, 51) !important; 
    border-right-color: rgb(51, 51, 51) !important; 
    border-bottom-color: rgb(51, 51, 51) !important; 
    border-left-color: rgb(51, 51, 51) !important;
} 

@media only screen and (min-width: 64.063em){ 
  .tdlarge-2 { 
    width: 16.6667%;
  } 
}     

.td.player .header  { 
    height: 100%; 
    text-align: center; 
    position: relative;
} 

.td.player.feed .header  { 
    left: 0px; 
    height: auto;
} 

.link-player .td.player.feed .header  { 
    padding: 0; 
    width: 100%; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

@media only screen and (min-width: 64.063em){ 
  .tdlarge-10 { 
    width: 83.3333%;
  } 
}     

@media only screen{ 
  [class*="tdcolumn"] + [class*="tdcolumn"]:last-child  { 
    float: right;
  } 
}     

@media only screen and (min-width: 64.063em){ 
  [class*="tdcolumn"] + [class*="tdcolumn"]:last-child  { 
    float: right;
  } 
}     

.td.player.feed .feed-container  { 
    border-left: 0; 
    border-left-width: 0px; 
    border-left-style: initial; 
    border-left-color: initial;
} 

.link-player .td.player.feed .feed-container  { 
    display: none;
} 

.td.player .cover  { 
    height: 100%; 
    display: table; 
    z-index: 1;
} 

.td.player.feed .cover  { 
    position: relative; 
    display: block;
} 

.tdrow .tdrow  { 
    width: auto; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    max-width: none;
} 

.tdrow .tdrow:after ,.tdrow .tdrow:before  { 
    content: " "; 
    display: table;
} 

.tdrow .tdrow:after  { 
    clear: both;
} 

.link-player .td.player .social  { 
    display: none;
} 

.link-player .td.player .feed-cover  { 
    display: none;
} 

.td.player.feed .feed-cover  { 
    animation: fadeIn 1s; 
    animation-duration: 1s; 
    animation-timing-function: ease; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-direction: normal; 
    animation-fill-mode: none; 
    animation-play-state: running; 
    animation-name: fadeIn;
} 

.td.player .controls  { 
    padding: 10px; 
    border-top: 1px solid; 
    border-bottom: 1px solid; 
    padding-top: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
    padding-left: 10px; 
    border-top-width: 1px; 
    border-top-style: solid; 
    border-top-color: initial; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: initial;
} 

 .td.player .controls:not(.mini-controls) { 
    width: 100%;
} 

.td.player.feed .controls  { 
    border-top: 0; 
    border-bottom: 0; 
    position: absolute; 
    left: 0px; 
    width: 100%; 
    top: 0px; 
    bottom: 0px; 
    right: 0px; 
    margin: auto; 
    padding: 0; 
    z-index: 100; 
    border-top-width: 0px; 
    border-top-style: initial; 
    border-top-color: initial; 
    border-bottom-width: 0px; 
    border-bottom-style: initial; 
    border-bottom-color: initial; 
    margin-top: auto; 
    margin-right: auto; 
    margin-bottom: auto; 
    margin-left: auto; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.td.player.dark .controls  { 
    color: rgb(255, 255, 255); 
    border-color: #333; 
    border-top-color: rgb(51, 51, 51); 
    border-right-color: rgb(51, 51, 51); 
    border-bottom-color: rgb(51, 51, 51); 
    border-left-color: rgb(51, 51, 51);
} 

.link-player .td.player.feed .controls  { 
    padding: 0; 
    position: relative; 
    z-index: 9; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.td.player .info  { 
    border-bottom: 1px solid; 
    font-weight: 700; 
    padding: 5px 45px; 
    font-size: 14px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: initial; 
    padding-top: 5px; 
    padding-right: 45px; 
    padding-bottom: 5px; 
    padding-left: 45px;
} 

.td.player.feed .info  { 
    border-bottom: 0; 
    text-align: left; 
    padding: 0; 
    border-bottom-width: 0px; 
    border-bottom-style: initial; 
    border-bottom-color: initial; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.td.player.dark .info  { 
    border-color: #333; 
    color: rgb(255, 255, 255); 
    border-top-color: rgb(51, 51, 51); 
    border-right-color: rgb(51, 51, 51); 
    border-bottom-color: rgb(51, 51, 51); 
    border-left-color: rgb(51, 51, 51);
} 

.td.player .current-song-info  { 
    font-weight: 300; 
    font-size: 9pt; 
    text-align: center; 
    vertical-align: middle; 
    padding-top: 1rem; 
    padding-bottom: 1.0625rem;
} 

.td.player.feed .current-song-info  { 
    padding: 0; 
    text-align: left; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.td.player.feed .feed-cover img  { 
    animation: fadeIn 1s; 
    animation-duration: 1s; 
    animation-timing-function: ease; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-direction: normal; 
    animation-fill-mode: none; 
    animation-play-state: running; 
    animation-name: fadeIn;
} 

.td.player.feed .feed-cover img  { 
    max-height: 5pc; 
    vertical-align: initial; 
    border-radius: 3px; 
    border-top-left-radius: 3px; 
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px; 
    border-bottom-left-radius: 3px;
} 

.td.player .buttons  { 
    width: 100%;
} 

.td.player .controls div  { 
    display: inline-block; 
    text-align: center;
} 

.td.player.feed .buttons  { 
    display: table-cell; 
    vertical-align: middle; 
    padding: 0; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.td.player .song-name  { 
    margin: 10px 0 0; 
    font-size: 14px; 
    font-weight: 400; 
    margin-top: 10px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px;
} 

.td.player .song-name  { 
    text-align: center; 
    animation: fadeInRight 1s; 
    animation-duration: 1s; 
    animation-timing-function: ease; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-direction: normal; 
    animation-fill-mode: none; 
    animation-play-state: running; 
    animation-name: fadeInRight;
} 

.td.player.feed .song-name  { 
    font-size: 14px; 
    margin-top: 0px;
} 

.td.player.feed .song-name  { 
    text-align: left;
} 

.td.player .artist-name  { 
    text-align: center; 
    animation: fadeInRight 1s; 
    animation-duration: 1s; 
    animation-timing-function: ease; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-direction: normal; 
    animation-fill-mode: none; 
    animation-play-state: running; 
    animation-name: fadeInRight;
} 

.td.player .artist-name  { 
    margin: 10px 0; 
    margin-top: 10px; 
    margin-right: 0px; 
    margin-bottom: 10px; 
    margin-left: 0px;
} 

.td.player.feed .artist-name  { 
    font-size: 9pt; 
    font-weight: 400;
} 

.td.player.feed .artist-name  { 
    text-align: left;
} 

@media only screen{ 
  .tdsmall-10 { 
    width: 83.3333%;
  } 
}     

@media only screen{ 
  .tdsmall-2 { 
    width: 16.6667%;
  } 
}     

[class*="tdicon-"],[class^="tdicon-"] { 
    font-family: td-player; 
    speak: none; 
    font-style: normal; 
    font-weight: 400; 
    font-variant: normal; 
    text-transform: none; 
    line-height: 1; 
    display: inline-block; 
    text-rendering: auto; 
    font-variant-ligatures: normal; 
    font-variant-caps: normal; 
    font-variant-numeric: normal; 
    font-variant-east-asian: normal;
} 

.td.player .player-play  { 
    width: 50%; 
    line-height: 50px !important;
} 

.td.player .tdicon-play-circle-outline  { 
    font-size: 42px; 
    opacity: 0.8; 
    transition: all .2s; 
    transition-duration: 0.2s; 
    transition-timing-function: ease; 
    transition-delay: 0s; 
    transition-property: all;
} 

.td.player .controls i  { 
    cursor: pointer;
} 

.td.player.feed .tdicon-play-circle-outline  { 
    font-size: 55px; 
    color: rgb(255, 255, 255); 
    text-shadow: rgb(78, 78, 78) 0px 0px 5px;
} 

.td.player.feed .player-play  { 
    width: 100%; 
    line-height: 5pc !important;
} 

.td.player.feed .tdicon-play-circle-outline  { 
    font-size: 42px;
} 

.link-player .td.player.feed .player-play  { 
    font-size: 56px; 
    line-height: normal !important;
} 

.tdicon-play-circle-outline:before { 
    content: "";
} 

.td.player .info a  { 
    text-decoration: none; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial;
} 

.td.player.dark .info a  { 
    color: rgb(255, 255, 255);
} 

.td.player .current-song-social-icon  { 
    font-size: 9pt; 
    margin-right: 5px; 
    vertical-align: middle;
} 

.tdicon-play-circle-fill:before { 
    content: "";
} 

.expand { 
    width: 100%;
} 

@media only screen{ 
  .tdbutton { 
    border-style: solid; 
    border-width: 0; 
    cursor: pointer; 
    line-height: normal; 
    position: relative; 
    text-decoration: none; 
    text-align: center; 
    display: inline-block; 
    padding-top: 1rem; 
    padding-right: 2rem; 
    padding-bottom: 1.0625rem; 
    padding-left: 2rem; 
    color: rgb(0, 0, 0); 
    transition: background-color .3s ease-out; 
    padding: 1rem 2rem 1.0625rem; 
    border-top-style: solid; 
    border-right-style: solid; 
    border-bottom-style: solid; 
    border-left-style: solid; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    text-decoration-line: none; 
    text-decoration-thickness: initial; 
    text-decoration-style: initial; 
    text-decoration-color: initial; 
    transition-duration: 0.3s; 
    transition-timing-function: ease-out; 
    transition-delay: 0s; 
    transition-property: background-color;
  } 
}     

@media only screen{ 
  .tdbutton.expand { 
    padding-right: 0px; 
    padding-left: 0px; 
    width: 100%;
  } 
}     

.td.player .follow-link  { 
    border-right: 1px solid; 
    border-right-width: 1px; 
    border-right-style: solid; 
    border-right-color: initial;
} 

.td.player .follow-link  { 
    letter-spacing: 2px; 
    font-weight: 400; 
    font-size: 9pt; 
    background: none; 
    background-image: none; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: initial;
} 

.td.player.feed .follow-link  { 
    text-align: right; 
    padding: 0; 
    height: 100%; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
} 

.td.player.feed .tdbutton  { 
    border: 0; 
    opacity: 0.3; 
    animation: fadeIn 1s; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-top-style: initial; 
    border-right-style: initial; 
    border-bottom-style: initial; 
    border-left-style: initial; 
    border-top-color: initial; 
    border-right-color: initial; 
    border-bottom-color: initial; 
    border-left-color: initial; 
    border-image-source: initial; 
    border-image-slice: initial; 
    border-image-width: initial; 
    border-image-outset: initial; 
    border-image-repeat: initial; 
    animation-duration: 1s; 
    animation-timing-function: ease; 
    animation-delay: 0s; 
    animation-iteration-count: 1; 
    animation-direction: normal; 
    animation-fill-mode: none; 
    animation-play-state: running; 
    animation-name: fadeIn;
} 

.td.player.dark .follow-link  { 
    border-color: #333!important; 
    color: rgb(255, 255, 255); 
    border-top-color: rgb(51, 51, 51) !important; 
    border-right-color: rgb(51, 51, 51) !important; 
    border-bottom-color: rgb(51, 51, 51) !important; 
    border-left-color: rgb(51, 51, 51) !important;
} 

.tdbutton:hover  { 
    opacity: 1;
} 

.follow-link:hover  { 
    background: rgba(0,0,0,.8); 
    color: rgb(255, 255, 255); 
    background-image: initial; 
    background-position-x: initial; 
    background-position-y: initial; 
    background-size: initial; 
    background-repeat-x: initial; 
    background-repeat-y: initial; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: rgba(0, 0, 0, 0.8);
} 

.td.player .playlist-social-icon  { 
    font-size: 14px; 
    margin-right: 5px; 
    vertical-align: middle;
} 

.td.player.feed .playlist-social-icon  { 
    font-size: 14px; 
    margin-right: 5px; 
    vertical-align: top;
} 

.tdicon-soundcloud:before { 
    content: "";
} 


@keyframes fadeIn { 
  0% {  
      opacity: 0; 
      opacity: 0; 
  }  
  100% {  
      opacity: 1; 
      opacity: 1; 
  }  

} 
@keyframes fadeInRight { 
  0% {  
      opacity: 0; 
      -webkit-transform: translateX(20px); 
      transform: translateX(20px); 
      opacity: 0; 
      transform: translateX(20px); 
  }  
  100% {  
      opacity: 1; 
      -webkit-transform: translateX(0); 
      transform: translateX(0); 
      opacity: 1; 
      transform: translateX(0px); 
  }  

} 

input {
    height: 40px !important;
    padding-left: .5rem !important;
  }
  
  .MuiInputBase-input {
    padding-left: 1rem !important;
  }